 
.footer {
  padding: 70px 145px;
  background-color: #f4f5f5;
}

.footer__topArea {
  display: flex;
  justify-content: space-between;
}

.footer__footerTitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  color: #333333;
  margin: 0;
}

.footer__linkListArea {
  display: flex;
}

.footer__linkArea {
  display: flex;
  flex-direction: column;
  margin-left: 160px;
}

.footer__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 40px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer__link {
  color: #333333;
  cursor: pointer;
  margin-bottom: 24px;
}

.footer__disabled {
  color: #666;
  cursor: not-allowed;
  margin-bottom: 24px;
}

.footer__bottomArea {
  display: flex;
  justify-content: space-between;
}

.footer__codeArea {
  display: flex;
  flex-direction: column;
}

.footer__text {
  color: #666;
}

.footer__numArea {
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer__numArea span {
  margin-bottom: 12px;
}

.footer__publicLogo {
  display: flex;
}

.footer__logo {
  margin-right: 4px;
}
